@effect-icon-size: 32px;

.b5e\:active-status-effect-settings {
  display: grid;
  grid-template-rows: 1fr 18fr 1fr;
  row-gap: 4px;
  height: 100%;

  header {
    border-bottom: 1px solid #782e22;
    display: grid;
    grid-template-columns: 1fr 1fr;

    > h2 {
      justify-self: left;
      align-self: end;
      border-bottom: none;
      padding: 0;
      margin: 0;
    }

    > a {
      justify-self: right;
      align-self: end;

      > h2 {
        border-bottom: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  .b5e\:status-effects-container {
    overflow: auto;

    .b5e\:status-effect {
      display: grid;
      grid-template-columns: @effect-icon-size auto 32px;
      grid-template-rows: auto auto;
      border-bottom: 1px solid #c9c7b8;
      column-gap: 4px;
      row-gap: 4px;
      padding-top: 4px;
      overflow: hidden;

      img.b5e\:status-effect-icon {
        border: none;
        width: auto;
        height: auto;
        justify-self: center;
        align-self: center;
        padding: 2px 0 2px 0;
        cursor: pointer;
      }

      div.b5e\:status-effect-name {
        justify-self: left;
        align-self: center;
        cursor: pointer;

        h3 {
          padding: 0;
          margin: 0;
        }
      }

      div.b5e\:status-effect-controls {
        justify-self: center;
        align-self: center;
      }

      div.b5e\:status-effect-settings {
        grid-column: 1 / span 3;
        padding: 0px;

        &[data-visibility="hidden"] {
          height: 0px;
        }

        &[data-visibility="shown"] {
          height: auto;
        }
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
  }
}

// div.b5e\:tabs {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: auto 1fr;
//   row-gap: 4px;

//   .b5e\:selector {
//     opacity: 0;
//     position: absolute;

//     &:checked {
//       & + .b5e\:label {
//         text-shadow: 0 0 10px red;
//       }

//       & + .b5e\:label + .b5e\:panel {
//         display: block;
//       }
//     }
//   }

//   .b5e\:label {
//     width: 100%;
//     align-self: end;
//     justify-self: center;
//     text-align: center;
//     cursor: pointer;
//     grid-row: 1;
//     display: block;
//     border-top: 1px solid #c9c7b8;
//     border-bottom: 1px solid #c9c7b8;
//     padding: 8px;

//     &:hover {
//       text-shadow: 0 0 10px red;
//     }
//   }

//   .b5e\:panel {
//     display: none;
//     grid-row: 2;
//     grid-column: 1 / span 2;
//   }
// }
